# Winning Wrestlers Entertainment

In this activity you will be taking four separate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Take in all of our wrestling data and read it into pandas
wrestling_2013 = "../Resources/WWE-Data-2013.csv"
wrestling_2014 = "../Resources/WWE-Data-2014.csv"
wrestling_2015 = "../Resources/WWE-Data-2015.csv"
wrestling_2016 = "../Resources/WWE-Data-2016.csv"

wrestlers_2013_df = pd.read_csv(wrestling_2013)
wrestlers_2014_df = pd.read_csv(wrestling_2014)
wrestlers_2015_df = pd.read_csv(wrestling_2015)
wrestlers_2016_df = pd.read_csv(wrestling_2016)

In [19]:
y2013_2014_df = pd.merge(wrestlers_2013_df, wrestlers_2014_df, on="Wrestler", how="outer")
y2013_2014_2015_df = pd.merge(y2013_2014_df, wrestlers_2015_df, on="Wrestler", how="outer")
y2013_2014_2015_df
y2013_2014_2015_df = y2013_2014_2015_df.rename(columns = {"Wins_x":"Wins_2013",
                                                        "Losses_x":"Losses_2013",
                                                         "Draws_x":"Draws_2013",
                                                         "Wins_y":"Wins_2014",
                                                        "Losses_y":"Losses_2014",
                                                         "Draws_y":"Draws_2014",
                                                         "Wins":"Wins_2015",
                                                        "Losses":"Losses_2015",
                                                         "Draws":"Draws_2015"})
y2013_2014_2015_df
yall_df = pd.merge(y2013_2014_2015_df, wrestlers_2016_df, on="Wrestler", how="outer")

yall_df= yall_df.rename(columns = {"Wins":"Wins_2016","Losses":"Losses_2016","Draws":"Draws_2016"})
yall_df

,Wrestler,Wins_2013,Losses_2013,Draws_2013,Wins_2014,Losses_2014,Draws_2014,Wins_2015,Losses_2015,Draws_2015,Wins_2016,Losses_2016,Draws_2016
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
266,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0
267,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0
268,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0
269,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0

In [ ]:




# Merge the first two datasets on "Wrestler" so that no data is lost (should be 182 rows)



combined_wrestlers_df = ???
combined_wrestlers_df.head()

In [ ]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"
combined_wrestlers_df = ???

# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"
combined_wrestlers_df = ???

combined_wrestlers_df.head()

In [ ]:
# Merge our newly combined dataframe with the 2015 dataframe
combined_wrestlers_df = ???
combined_wrestlers_df

In [ ]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"
combined_wrestlers_df = ???

combined_wrestlers_df.head()

In [ ]:
# Merge our newly combined dataframe with the 2016 dataframe
combined_wrestlers_df = ???
combined_wrestlers_df

In [ ]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"
combined_wrestlers_df = ???

combined_wrestlers_df.head(10)